<visicutPreferences>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>false</useFilenamesForJobs>
  <enableQRCodes>false</enableQRCodes>
  <fastQRCodes>false</fastQRCodes>
  <fabqrActive>false</fabqrActive>
  <fabqrPrivateURL></fabqrPrivateURL>
  <fabqrPublicURL></fabqrPublicURL>
  <fabqrPrivateUser></fabqrPrivateUser>
  <fabqrPrivatePassword></fabqrPrivatePassword>
  <windowBounds>
    <x>0</x>
    <y>25</y>
    <width>1147</width>
    <height>706</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>/home/jerome/Documents/yooliv/power/jig_dvn.dxf</string>
    <string>/home/jerome/Documents/yooliv/board/fab/dvm-F_Cu.svg</string>
    <string>/tmp/mozilla_jerome0/jig_dvn.dxf</string>
    <string>/home/jerome/Documents/dessin_tech/Solder-support.dxf</string>
    <string>/home/jerome/Documents/dessin_tech/sikula/porte_glissiere.dxf</string>
  </recentFiles>
  <lastMaterial>MDF</lastMaterial>
  <lastLaserDevice>RobotSeed RS-6040L</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
  <fabLabLocationFacebookId></fabLabLocationFacebookId>
  <laserCutterTags></laserCutterTags>
  <supportedExtensions></supportedExtensions>
</visicutPreferences>